@import "tailwindcss";

p, span, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins';
}


.dashboard-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 100px; /* Sidebar width */
    background-color: #ffffff !important;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #F3F4F8;
    box-sizing: border-box;
    display: flex;
}

.NotificationSideBar {
    width: 350px; /* Notification sidebar width */
    background-color: #ffffff !important;
    padding: 20px 10px;
    border-radius: 20px;
    margin-right: 20px;
}

/* Make it responsive */
@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: 60px; /* Sidebar becomes a top navigation bar */
    }

    .main-content {
        padding-top: 60px; /* Adjust for the space taken by the sidebar */
    }
}